.maincontent {
  background-color: white;
}

.content {
  padding: 80px 300px;
}

.moreshipmentdetails td{
  padding: 30px 30px 30px 5px;
}

.moreshipmentdetails {
  margin:0 auto;
}

.moreshipmentdetails table {
  margin-left:auto;
  margin-right:auto;
}
