@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.product .product-price:before, .totals-value:before {
  content: '$';
}
.maincontent {
  height: 1050px;
  color: white;
  background-color: black;
}
h1 {
  position: static;
  margin-left: 50px;
  top: 200px;
}
body {
  padding: 0px 30px 30px 20px;
  font-family: $font-default;
  font-weight: 100;
}
.product-image { float: left; width: 19%; margin-left: 20px;}
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-cancel{ float: left; width: 9%; }
.product-line-price { float: left; width: 10%; text-align: right; }

.Pc {
  width: 180px;
  height: 120px;
  text-align: center;
}

.product {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 145px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.product-title {
     margin-right: 20px;
   }
.product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
 }
 h2 {
   padding-left: 25%;
 }
 .cancel-product {
     border: 0;
     padding: 4px 8px;
     background-color: #FD6A02;
     color: white;
     font-size: 12px;
     border-radius: 3px;
   }
 .cancel-product:hover {
   color: black;
