.maincontent {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 3000px;
}

.display {
  display: inline-block;
  padding-top: 10px;
  margin-left: 15%;
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.info {
  display: inline-block;
  position: absolute;
  padding-left: 50px;
}

h1.name {
  font-family: fantasy, "Trebuchet MS";
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  margin-left: 30px;
}

span.price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-left: 30px;
}

ul.ratings {
  list-style: none;
  color: #EFD829;
  padding: 0;
}

.description {
  font-family: Calibri;
  margin-left: 30px;
}

.stock {
  color: green;
}

div.quantity {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

div.variant {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.variant select {
  color: black;
  background-color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-color: black;
  border-width: medium;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  width: 50%;
}

button.add {
  color: white;
  background-color: black;
  letter-spacing: 0px;
  border-color: black;
  border-width: medium;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  width: 60%;
}

button.add:active {
  opacity: 0.7;
}

button.add:hover, div.variant select:hover {
  cursor: pointer;
}

div.variant select:focus, input[type="number"]:focus, button.add:focus {
  outline: none;
}

/* RADIO BUTTONS */
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}
    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
    }
      label:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      label:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }

    input:checked ~ label {
      color: #fff;
    }
      input:checked ~ label:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      input:checked ~ label:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
