.title {
  color: white;
  font-size: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 15%;
}
.profile-content{
  padding: 40px;
  border-radius: 25px;
  background-color: #f2f2f2;
}
.profile-content a{
  margin: auto;
  text-align: center;
  padding-left:;
}

.subtitle {
  color: white;
  font-size: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 53%;
  left: 15%;
}

.maincontent {
  background-color: white;
}

.content {
  padding: 80px 300px;
}

.button{
  margin-right: auto;
  margin-left: 50%;
  text-decoration: none;
  background-color: black;
  color: white;
  border: solid white 1px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  padding: 5px 10px 5px 10px;

}
