.maincontent {
  background-color: white;
}

.content {
  padding-top:80px;
}

.deliverynproduct {
  overflow:auto;
}

.productinfo {
  padding-bottom: 150px;
  padding-left:200px;
}

.tablespace td {
  padding:15px;
}

.deliverynproduct {
  padding-bottom: 400px;
  padding-left: 400px;
  padding-top:50px;
}
